.name-tag {
    margin: 2px;
    height: 300px;
    width: 350px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    position: absolute;
}


body {
    background-color:black    ;
}

header {
    flex-direction: column;
    justify-content:right;
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: honeydew;
}

.content {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 100%;
    width: 175px;
    float: right;
    margin: 0px;
    padding-top: 10px;
    text-align: center;

   
}

.top,
.bottom {
    background-color: red;
    width: 100%;
    border-style: solid;
    border-color: honeydew;
}

.top {
    border-radius: 10px 10px 0px 0px;
}

.bottom { 
    height:35px;
    border-radius: 0px 0px 5px 5px;
}


h1,
h2 {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
} 

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
}
h2 {
    font-weight: normal;
}

.middle {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
    border-style: solid;
    border-radius:  50px;
    height: auto;
    width: auto;

}


footer {
    position: absolute;
    bottom: 0;
    font-size: x-small;
    font-family: monospace;
    color: honeydew;
}